<nav class="header collapse d-lg-flex p-0" id="menu">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-3 ml-auto"></div>
      <div class="col-lg order-lg-first">
        <ul class="nav nav-tabs border-0 flex-column flex-lg-row">
          <li class="nav-item">
            <%= link_to root_path, class: "nav-link link #{'active' if controller_name == 'dashboard'}" do %>
              <i class="fas fa-chart-line mr-2"></i>Dashboard
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to projects_path, class: "nav-link link #{active_action? projects_path}" do %>
              <i class="fas fa-project-diagram mr-2"></i><%= Project.model_name.human(count: 2) %>
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to tasks_path, class: "nav-link link #{active_action? tasks_path}" do %>
              <i class="fas fa-tasks mr-2"></i><%= Task.model_name.human(count: 2) %>
            <% end %>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
